<template>
    <div v-if="Object.keys(template).length" class="html-table">
        <!-- 考法知识点 -->
        <div class="knowledge-card">
            <div class="knowledge-card-title">
                <span>
                     <i class="icon-list-bullet" style="color:#409eff"></i>
                    考法知识点
                </span>
                <el-button type="text" size="small" v-if="isEdit" @click="toEditKnowledgePointManage">考法知识点模块管理</el-button>
                <span @click="showContent1 = !showContent1" style="float: right;cursor: pointer;">
                    <span v-show="!showContent1" class="color-blue">展开</span>
                    <span v-show="showContent1" class="color-blue">收起</span>
                </span>
            </div>
            <div class="knowledge-card-content" v-show="showContent1">
                <div class="knowledge-card" v-for="(content, index) in checkExits(template, ['knowledge', 'contents'])" :key="index">
                    <div class="knowledge-card-title">
                        <span>
                            {{ content.name }}
                            <el-button v-show="isEdit" type="text" @click="editKnowledge('content', index, content.content)" icon="el-icon-circle-plus">编辑</el-button>
                        </span>
                        <span class="useScene">
                            <span>应用场景:</span>
                            <el-checkbox-group @change="changeScene" v-model="content.useSceneList">
                                <el-checkbox label="预习"></el-checkbox>
                                <el-checkbox label="上课"></el-checkbox>
                                <el-checkbox label="复习"></el-checkbox>
                            </el-checkbox-group>
                        </span>
                    </div>
                    <div class="knowledge-card-content">
                        <div v-if="!isEditKnowledge[index].content">
                            <div :ref="'knowledge-content-'+index" v-if="content.content" v-html="content.content"></div>
                            <div v-else>暂时没有填写！</div>
                        </div>
                        <kb-editor :ref="'knowledge'+'content'+index" @cancel="closeEditting" @save="saveContent" :editting="edittingKnowledge[index].content"></kb-editor>
                    </div>
                    <div class="knowledge-card-express">
                        <div v-if="content.value!==undefined">
                            <div>讲法: <el-button type="text" v-show="isEdit" @click="editKnowledge('value', index, content.value)" icon="el-icon-circle-plus">编辑</el-button></div>
                            <div v-if="!isEditKnowledge[index].value">
                                <div :ref="'knowledge-value-'+index" v-html="content.value"></div>
                            </div>
                        </div>
                        <kb-editor :ref="'knowledge'+'value'+index" @cancel="closeEditting" @save="saveContent" :editting="edittingKnowledge[index].value"></kb-editor>
                        <el-button v-show="!isEditKnowledge[index].value&&content.value===undefined&&isEdit" type="text" @click="editKnowledge('value', index, false)" icon="el-icon-circle-plus">添加讲法说明</el-button>
                    </div>
                </div>
                <div v-show="(checkExits(template, ['knowledge', 'contents'])||[]).length === 0" class="no-question">
                    <i class="icon-tanhao"></i> 当前模块暂无内容！
                </div>
            </div>
        </div>
        <!-- 考法题目 -->
        <div class="knowledge-card">
            <div class="knowledge-card-title">
                <span>
                     <i class="icon-list-bullet" style="color:#409eff"></i>
                    考法题目
                </span>
                <span class="teacherEdit" v-if="isEdit">
                    <el-button v-for="(item,index) in teacherEdit" :key="index" :class="{'currentSelect':index===isChoose?'currentSelect':''}" type="primary" size="mini" @click="toogleChoose(index)"> {{ item }} </el-button>
                </span>
                <span @click="showContent = !showContent" style="float: right;cursor: pointer;">
                    <span v-show="!showContent" class="color-blue">展开</span>
                    <span v-show="showContent" class="color-blue">收起</span>
                </span>
            </div>
            <div class="knowledge-card-content" v-show="showContent">
                <el-radio-group v-model="exerciseType" @change="changeExerciseType" style="margin: 0 10px 10px;">
                    <el-radio-button label="例题"></el-radio-button>
                    <el-radio-button label="习题"></el-radio-button>
                </el-radio-group>
                <div v-show="exerciseType==='例题'&&checkExits(isChoose===0 ? template : recommendTemplate, ['concise']).length>0" >
                    <question-card
                        :id="title + '例题' + item.id"
                        class="question-card"
                        :is-recommend="isChoose===1"
                        v-for="(item, index) in checkExits(isChoose===0 ? template : recommendTemplate, ['concise'])"
                        :key="index"
                        :data="item"
                        v-if="index >= (currentPage - 1) * size && index < currentPage * size"
                        :index="index"
                        :length="checkExits( isChoose===0 ? template : recommendTemplate, ['concise']).length"
                        :is-edit="isEdit"
                        :question-config="{title, type: '例题', index: index + 1}"
                        @upItem="upItem(template.concise, index)"
                        @downItem="downItem(template.concise, index)"
                        @delItem="delItem('concise', template.concise, index)"
                        @delQusetion="delQusetion('concise', item.id,index)"
                        @addTag="addTag('concise',item,$event)"
                        @moveItem="moveItem('concise', index)"
                        @checkedChange="checkedChange(item, 'concise')"
                        @quickMoveItem="quickMoveItem($event, template.concise, 
                        'currentPage', title + '例题' + item.id)">
                    </question-card>
                    <el-pagination
                        v-show="checkExits(isChoose===0 ? template : recommendTemplate, ['concise']).length > 0"
                        class="page"
                        layout="prev, pager, next"
                        :current-page="currentPage"
                        @current-change="currentChange($event,'concise')"
                        :page-size="size"
                        :total="checkExits(isChoose===0 ? template : recommendTemplate, ['concise']).length"
                        >
                    </el-pagination>
                    <div class="checkedAll" v-if="isEdit&&isChoose===1">
                        <el-button type="text" @click="delAll('concise')">删除试题</el-button>
                        <el-button type="text" @click="isAdd('concise')">一键添加</el-button>
                        <el-checkbox v-model="checkedAlls.concise" label="全选" @change="selectAll('concise')"></el-checkbox>
                    </div>
                </div>
                <div v-show="exerciseType==='例题'&&checkExits(isChoose===0 ? template : recommendTemplate, ['concise']).length === 0" class="no-question">
                    <i class="icon-tanhao"></i> 当前模块暂无试题！
                </div>
                <div v-show="exerciseType==='习题'&&checkExits(isChoose===0 ? template : recommendTemplate, ['homework']).length > 0">
                    <question-card
                        :id="title + '习题' + item.id"
                        class="question-card"
                        :is-recommend="isChoose===1"
                        v-for="(item, index) in checkExits(isChoose===0 ? template : recommendTemplate, ['homework'])"
                        :key="index"
                        :data="item"
                        v-if="index >= (currentPage1 - 1) * size && index < currentPage1 * size"
                        :index="index"
                        :length="checkExits(isChoose===0 ? template : recommendTemplate, ['homework']).length"
                        :is-edit="isEdit"
                        :question-config="{title, type: '习题', index: index + 1}"
                        @upItem="upItem(template.homework, index)"
                        @downItem="downItem(template.homework, index)"
                        @delItem="delItem('homework', template.homework, index)"
                        @delQusetion="delQusetion('homework', item.id,index)"
                        @addTag="addTag('homework',item,$event)"
                        @moveItem="moveItem('homework', index)"
                        @checkedChange="checkedChange(item, 'homework')"
                        @quickMoveItem="quickMoveItem($event, template.homework, 'currentPage1', title + '习题' + item.id)">
                    </question-card>
                    <el-pagination
                        v-show="checkExits(isChoose===0 ? template : recommendTemplate, ['homework']).length > 0"
                        class="page"
                        layout="prev, pager, next"
                        :current-page="currentPage1"
                        @current-change="currentChange1($event,'homework')"
                        :page-size="size"
                        :total="checkExits(isChoose===0 ? template : recommendTemplate, ['homework']).length">
                    </el-pagination>
                    <div class="checkedAll" v-if="isEdit&&isChoose===1" >
                        <el-button type="text" @click="delAll('homework')">删除试题</el-button>
                        <el-button type="text" @click="isAdd('homework')">一键添加</el-button>
                        <el-checkbox v-model="checkedAlls.homework" label="全选" @change="selectAll('homework')"></el-checkbox>
                    </div>
                </div>
                <div v-show="exerciseType==='习题'&&checkExits(isChoose===0 ? template : recommendTemplate, ['homework']).length === 0" class="no-question">
                    <i class="icon-tanhao"></i> 当前模块暂无试题！
                </div>
            </div>
        </div>
        <!-- 考法小结 -->
        <div class="knowledge-card">
            <div class="knowledge-card-title">
                <span>
                    <i class="icon-list-bullet" style="color:#409eff"></i>
                    考法小结
                </span>
                <el-button type="text" size="small" v-if="isEdit" @click="toEditSummary">考法小结模块管理</el-button>
                <span @click="showContent2 = !showContent2" style="float: right;cursor: pointer;">
                    <span v-show="!showContent2" class="color-blue">展开</span>
                    <span v-show="showContent2" class="color-blue">收起</span>
                </span>
            </div>
            <div class="knowledge-card-content" v-if="showContent2">
                <div class="knowledge-card" v-for="(content, index) in checkExits(template, ['summary', 'contents'])||[]" :key="index">
                    <div class="knowledge-card-title">
                        <span>
                            {{ content.name }}
                            <el-button v-show="isEdit" type="text" @click="editSummary('content', index, content.content)" icon="el-icon-circle-plus">编辑</el-button>
                        </span>
                    </div>
                    <div class="knowledge-card-content">
                        <div v-if="!isEditSummary[index].content">
                            <div :ref="'summary-content-'+index" v-if="content.content" v-html="content.content"></div>
                            <div v-else>暂时没有填写！</div>
                        </div>
                        <kb-editor :ref="'summarycontent'+index" @cancel="closeEditting" @save="saveContent" :editting="edittingSummary[index].content"></kb-editor>
                    </div>
                    <div class="knowledge-card-express">
                        <div v-if="content.value!==undefined">
                            <div>讲法: <el-button type="text" v-show="isEdit" @click="editSummary('value', index, content.value)" icon="el-icon-circle-plus">编辑</el-button></div>
                            <div v-if="!isEditSummary[index].value">
                                <div :ref="'summary-value-'+index" v-html="content.value"></div>
                            </div>
                        </div>
                        <kb-editor :ref="'summaryvalue'+index" @cancel="closeEditting" @save="saveContent" :editting="edittingSummary[index].value"></kb-editor>
                        <el-button v-show="!isEditSummary[index].value&&content.value===undefined&&isEdit" type="text" @click="editSummary('value', index, false)" icon="el-icon-circle-plus">添加讲法说明</el-button>
                    </div>
                </div>
                <div v-show="(checkExits(template, ['summary', 'contents'])||[]).length === 0" class="no-question">
                    <i class="icon-tanhao"></i> 当前模块暂无内容！
                </div>
            </div>
        </div>
        <!-- 考法课后作业 -->
        <div class="knowledge-card">
            <div class="knowledge-card-title">
                <span>
                    <i class="icon-list-bullet" style="color:#409eff"></i>
                    考法课后作业
                </span>
                <span class="teacherEdit" v-if="isEdit">
                    <el-button v-for="(item,index) in teacherEdit1" :key="index" :class="{'currentSelect':index===isChoose1?'currentSelect':''}" type="primary" size="mini" @click="toogleChoose1(index)"> {{ item }} </el-button>
                </span>
                <span @click="showContent3 = !showContent3" style="float: right;cursor: pointer;">
                    <span v-show="!showContent3" class="color-blue">展开</span>
                    <span v-show="showContent3" class="color-blue">收起</span>
                </span>
            </div>
            <div class="knowledge-card-content" v-show="showContent3">
                <div v-show="(checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents'])||[]).length>0">
                    <question-card
                        class="question-card"
                        v-for="(item, index) in checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents'])||[]"
                        :id="title + '考法课后作业' + item.value"
                        :key="index"
                        :is-recommend="isChoose1===1"
                        :data="item.detail || {}"
                        v-if="index >= (currentPage2 - 1) * size && index < currentPage2 * size"
                        :index="index"
                        :length="(checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents'])||[]).length"
                        :is-edit="isEdit"
                        type="_schoolwork"
                        :question-config="{title, type: '考法课后作业', index: index + 1}"
                        @upItem="upItem(checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents']), index)"
                        @downItem="downItem(checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents']), index)"
                        @delItem="delItem('schoolwork', checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents']), index)"
                        @delQusetion="delQusetion('schoolwork', item.value, index)"
                        @addTag="addTag('schoolwork',item,$event)"
                        @moveItem="moveItem('schoolwork', index)"
                        @checkedChange="checkedChange(item, 'schoolwork')"
                        @quickMoveItem="quickMoveItem($event, checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents']), 'currentPage2', title + '考法课后作业' + item.id)">
                    </question-card>
                    <el-pagination
                        v-show="checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents']).length > 0"
                        class="page"
                        layout="prev, pager, next"
                        :current-page="currentPage2"
                        @current-change="currentChange2($event,'schoolwork')"
                        :page-size="size"
                        :total="(checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents'])||[]).length">
                    </el-pagination>
                     <div class="checkedAll" v-if="isEdit&&isChoose1===1">
                        <el-button type="text" @click="delAll('schoolwork')">删除试题</el-button>
                        <el-button type="text" @click="isAdd('schoolwork')">一键添加</el-button>
                        <el-checkbox v-model="checkedAlls.schoolwork" label="全选" @change="selectAll('schoolwork')"></el-checkbox>
                    </div>
                </div>
                <div v-show="(checkExits(isChoose1===0 ? template : recommendTemplate, ['schoolwork', 'contents'])||[]).length === 0" class="no-question">
                    <i class="icon-tanhao"></i> 当前模块暂无试题！
                </div>
            </div>
        </div>
        <el-dialog
            :visible.sync="moveDialog"
            :title="'移动试题 — 讲义：'+ handout.name"
            append-to-body>
            <yx-selct :data="selectFiles[0].options" title="考法" @change="chooseCategory" :default-choose-index="categoryIndex" border></yx-selct>
            <yx-selct :data="selectFiles[1].options" title="模块" @change="chooseType" :default-choose-index="typeIndex" border></yx-selct>
            <div slot="footer">
                <el-button @click="moveDialog=false">取消</el-button>
                <el-button type="primary" @click="comfireMove">确定</el-button>
            </div>
        </el-dialog>
        <el-dialog :visible.sync="knowledgeDialog" title="考法知识点模块管理" width="500px" append-to-body :close-on-click-modal="false" :close-on-press-escape="false">
            <knowledge-manager type="knowledge" v-if="knowledgeDialog" :data="(checkExits(template, ['knowledge', 'contents'])||[])" @cancel="knowledgeDialog = false" @save="saveModulesManage">
            </knowledge-manager>
        </el-dialog>
        <el-dialog :visible.sync="summaryDialog" title="考法小结模块管理" width="500px" append-to-body :close-on-click-modal="false" :close-on-press-escape="false">
            <knowledge-manager type="summary" v-if="summaryDialog" :data="(checkExits(template, ['summary', 'contents'])||[])" @cancel="summaryDialog = false" @save="saveModulesManage">
            </knowledge-manager>
        </el-dialog>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import QuestionCard from './QuestionCard.vue';
import YxSelct from '../../components/yxSelect.vue';
import KbEditor from '../../components/KbEditor.vue';
import KnowledgeManager from './KnowledgeManager.vue';
import { handleMathJax } from '../../../assets/scripts/public.js';
import _ from 'underscore';
export default {
    components: {
        QuestionCard,
        YxSelct,
        KbEditor,
        KnowledgeManager
    },
    props: {
        title: {
            type: String
        },
        categorys: {
            type: Array,
            default: function() {
                return [];
            }
        },
        data: {
            type: Object,
            default: () => {}
        },
        isEdit: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            // 习题、例题,考法课后作业两个分页
            currentPage: 1,
            currentPage1: 1,
            currentPage2: 1,
            size: 10,
            moveDialog: false,
            question: {},
            questionType: '',
            questionIndex: 0,
            choosed: {},
            categoryIndex: 0,
            categoryName: '',
            typeIndex: 0,
            typeName: '',
            isEditIdea: false,
            cloneIdea: '',
            exerciseType: '例题',
            showContent: true,
            showContent1: false,
            showContent2: false,
            showContent3: true,
            checkedLists:{
                concise:[],
                homework:[],
                schoolwork:[]
            },
            // 编辑考法知识点子模块
            isEditKnowledge: new Array(50).fill(1).map(() => {
                return {content: false, value: false,};
            }),
            edittingKnowledge: new Array(50).fill(1).map(() => {
                return {content: undefined, value: undefined};
            }),
            // 考法小结模块
            isEditSummary: new Array(50).fill(1).map(() => {
                return {content: false, value: false};
            }),
            edittingSummary: new Array(50).fill(1).map(() => {
                return {content: undefined, value: undefined};
            }),
            // 考法知识点弹框显示
            knowledgeDialog: false,
            summaryDialog: false,
            // 当前正在编辑的小模块
            edittingRecord: {
                index: null, // contents 中的index
                type: null, // content || value
                moudleName: null,
            },
            teacherEdit:['教研编辑','系统推荐'],
            teacherEdit1:['教研编辑','系统推荐'],
            titleData: '',
            isChoose: 0,
            isChoose1: 0,
            checkedAlls:{
                concise:false,
                homework:false,
                schoolwork:false
            }
        };
    },
    computed: {
        ...mapState({
            handout: state => state.handoutDetail.handoutDetail,
            templateEdit: state => state.handoutDetail.templateEdit,
            recommendEdit: state => state.handoutDetail.recommendEdit,
        }),
        templateIndex() {
            if (this.templateEdit.template) {
                return this.templateEdit.template.findIndex(t => t.category === this.data.category);
            } else {
                return 0;
            }
        },
        template() {
            if (this.templateEdit.template) {
                return this.templateEdit.template[this.templateIndex] || {};
            } else {
                return {};
            }
        },
        recommendIndex() {
            if (this.recommendEdit.template) {
                return this.recommendEdit.template.findIndex(t => t.id === this.data.id);
            } else {
                return 0;
            }
        },
        recommendTemplate() {
            if (this.data.id && this.recommendEdit.template) {
                return this.recommendEdit.template[this.recommendIndex] || {
                    concise: [],
                    homework: [],
                    schoolwork:{contents:[]}
                };
            } else {
                return {
                    concise: [],
                    homework: [],
                    schoolwork:{contents:[]}
                };
            }
        },
        selectFiles() {
            let files = [];
            let tworow = {title:'模块:', options:[]};
            const option2 = {key:'type',name:'例题',value:'concise'};
            const option3 = {key:'type',name:'习题',value:'homework'};
            const option4 = {key:'type',name: '作业题目',value:'schoolwork'};
            tworow.options.push(option2, option3, option4);
            let threerow = {title:'考法:', options:[]};
            this.categorys.forEach(item => {
                let newcate = {};
                newcate['key'] = 'category';
                newcate['name'] = item.category !== ''? item.category : '未关联考法';
                newcate['value'] = item.category !== ''? item.category : '未关联考法';
                threerow.options.push(newcate);
            });
            files.push(threerow, tworow);
            return files;
        }
    },
    watch: {
        data: {
            handler() {
                this.exerciseType = '例题';
                this.currentPage = 1;
                this.currentPage1 = 1;
                this.currentPage2 = 1;
                // 重置全选数据
                this.resetSelectData();
            },
            deep: false
        },
        recommendTemplate(val) {
            // 添加已添加标签
            this.addTags(this.template, val);
        }
    },
    mounted () {
        handleMathJax();
    },
    updated () {
        handleMathJax();
    },
    methods: {
        ...mapActions([
            'HANDOUT_DEL_EDIT_RECOMMEND',
            'HANDOUT_PUT_QUESTIONS_ADD',
            'HANDOUT_GET_EDIT_RECOMMEND'
        ]),
        changeScene() {
            this.$forceUpdate();
        },
        resetSelectData() {
            ['concise', 'homework', 'schoolwork'].forEach(key => {
                let data = this.checkedLists[key];
                if (Array.isArray(data) && data.length) {
                    data.forEach(item => item.checked = false);
                }
                this.checkedLists[key] = [];
                this.checkedAlls[key] = false;
            });
            this.isChoose = 0;
            this.isChoose1 = 0;
        },
        // 获取当前页数据 是否是系统推荐 类型 concise、homework、schoolwork
        getCurrentData(isRecommend, type, ) {
            let data = isRecommend ? this.recommendTemplate : this.template;
            let page;
            switch (type) {
            case 'concise' : page=this.currentPage;
                break;
            case 'homework' : page=this.currentPage1;
                break;
            case 'schoolwork' : 
                page=this.currentPage2;
                break;
            }

            let start = this.size * (page - 1);
            let end = this.size * (page - 1) + this.size;
            
            if (type === 'schoolwork') {
                return data.schoolwork.contents.slice(start, end);
            } else {
                return data[type].slice(start, end);
            }
        },
        addTags(source, target) { 
            ['concise', 'homework', 'schoolwork'].forEach(key => {
                let soueceData, targetData;
                if (key === 'schoolwork') {
                    soueceData = source.schoolwork ? source.schoolwork.contents : [];
                    targetData = target.schoolwork ? target.schoolwork.contents: [];
                } else {
                    soueceData = source[key] || [];
                    targetData = target[key] || [];
                }

                targetData.forEach(item => {
                    let id = item.id || item.value;
                    let index = soueceData.findIndex(qs => qs.value ? qs.value === id : qs.id === id);
                    if (item.detail) {
                        item.detail.added = index > -1;
                    } else {
                        item.added = index > -1;
                    }
                });
            });
        },
        changeAdded(type,item) {
            if (item.detail) {
                this.template[type].contents.push(item);
                item.detail.added=true;
                item.detail.checked=false;
            } else {
                this.template[type].push(item);
                item.added=true;
                item.checked=false;
            }
        },
        isAdd(type) {
            this.checkedLists[type].forEach(item => {
                this.changeAdded(type,item);
            });
            if (this.checkedLists[type].length===0) {
                return;
            }
            this.$message({
                message: '移动成功',
                type: 'success',
                duration:1000
            });
            this.checkedLists[type] = [];
            this.setCheckedAll(type);
        },
        addTag(type,item,ref) {
            this.changeAdded(type,item);
            this.checkedLists[type] = this.checkedLists[type].filter(v => v.checked);
            ref.$forceUpdate();
            this.setCheckedAll(type);
        },
        isChecked(val,type) {
            let checked = type === 'schoolwork' ? val.detail.checked : val.checked;
            if (checked) {
                this.checkedLists[type].push(val);
            } else {
                let index = this.checkedLists[type].findIndex(item => {
                    if (item.detail) {
                        return item.value === val.value;
                    } else {
                        return item.id === val.id;
                    }
                });
                this.checkedLists[type].splice(index, 1);
            }
        },
        selectAll(type) {
            _.each(this.getCurrentData(true, type),item => {
                let id;
                let status;
                if (item.detail) {
                    id=item.value;
                    item.detail.checked=this.checkedAlls[type];
                    status=!item.detail.added;
                } else {
                    item.checked=this.checkedAlls[type];
                    id=item.id;
                    status=!item.added;
                }
                if (this.checkedAlls[type]) {
                    if (status) {
                        this.checkedLists[type].push(item);
                    }
                } else {
                    let index = this.checkedLists[type].findIndex(v => {
                        return v.id===id;
                    });
                    this.checkedLists[type].splice(index, 1);
                } 
            });
            let uniqTag=type==='schoolwork'? 'value':'id';
            this.checkedLists[type]=_.uniq(this.checkedLists[type],true,uniqTag);
        },
        checkedChange (val, type) {
            this.isChecked(val,type);
            this.setCheckedAll(type);
        },
        // 考法知识点管理模块
        toEditKnowledgePointManage() {
            this.knowledgeDialog = true;
        },
        // 考法小结管理模块
        toEditSummary() {
            this.summaryDialog = true;
        },
        toogleChoose(index) {
            this.isChoose = index;
            this.currentPage = 1;
            this.currentPage1 = 1;
            if (index === 1) {
                this.setCheckedAll(this.exerciseType === '例题' ? 'concise' : 'homework');
            }
        },
        toogleChoose1(index) {
            this.isChoose1 = index;
            this.currentPage2 = 1;
            if (index === 1) {
                this.setCheckedAll('schoolwork');
            }
        },
        saveModulesManage(contents, type) {
            // type: knowledge/summary
            let index = this.templateEdit.template.findIndex(t => t.category === this.data.category);
            if (!this.templateEdit.template[index][type]) {
                this.templateEdit.template[index][type] = {};
            }
            this.templateEdit.template[index][type].contents = [];
            contents.map((item) => this.templateEdit.template[index][type].contents.push(item));
            if (type==='knowledge') {
                contents.forEach((item) => {
                    item.useSceneList=['上课'];
                });
            }
            this.knowledgeDialog = false;
            this.summaryDialog = false;
        },
        // 编辑引入考法知识点，知识点讲解
        editKnowledge(type, index, content) {
            this.edittingRecord = {type, index, moudleName: 'Knowledge'};
            this.isEditKnowledge.map((item, i) => this.$set(this.isEditKnowledge[i], 'content', false));
            this.isEditKnowledge.map((item, i) => this.$set(this.isEditKnowledge[i], 'value', false));
            this.$set(this.isEditKnowledge[index], type, 'editting'+index);
            let _html = '';
            if (content && this.$refs[`knowledge-${type}-${index}`]) {
                _html = $(this.$refs[`knowledge-${type}-${index}`][0]).html();
            }
            this.$refs[`knowledge${type}${index}`][0].setContent(_html);
            this.edittingKnowledge.map((item, i) => this.$set(this.edittingKnowledge[i], 'content', undefined));
            this.edittingKnowledge.map((item, i) => this.$set(this.edittingKnowledge[i], 'value', undefined));
            this.$set(this.edittingKnowledge[index], type, 'editting'+index);
        },
        editSummary(type, index, content) {
            this.edittingRecord = {type, index, moudleName: 'Summary'};
            this.isEditSummary.map((item, i) => this.$set(this.isEditSummary[i], 'content', false));
            this.isEditSummary.map((item, i) => this.$set(this.isEditSummary[i], 'value', false));
            this.$set(this.isEditSummary[index], type, true);
            let _html = '';
            if (content && this.$refs[`summary-${type}-${index}`]) {
                _html = $(this.$refs[`summary-${type}-${index}`][0]).html();
            }
            this.$refs[`summary${type}${index}`][0].setContent(_html);
            this.edittingSummary.map((item, i) => this.$set(this.edittingSummary[i], 'content', undefined));
            this.edittingSummary.map((item, i) => this.$set(this.edittingSummary[i], 'content', undefined));
            this.$set(this.edittingSummary[index], type, 'editting'+index);
        },
        // 保存编辑内容
        saveContent(content) {
            let {type, index, moudleName } = this.edittingRecord;
            let i = this.templateIndex;
            let mName = moudleName.toLowerCase();
            this.templateEdit.template[i][mName].contents[index][type] = content;
            this[`editting${moudleName}`].forEach((item, i) => {
                this.$set(this[`editting${moudleName}`][i], 'content', undefined);
                this.$set(this[`editting${moudleName}`][i], 'value', undefined);
            });
            this[`isEdit${moudleName}`].forEach((item, i) => {
                this.$set(this[`isEdit${moudleName}`][i], 'content', false);
                this.$set(this[`isEdit${moudleName}`][i], 'value', false);
            });
        },
        // 取消编辑内容
        closeEditting() {
            let { moudleName } = this.edittingRecord;
            this[`editting${moudleName}`].forEach((item, i) => {
                this.$set(this[`editting${moudleName}`][i], 'content', undefined);
                this.$set(this[`editting${moudleName}`][i], 'value', undefined);
            });
            this[`isEdit${moudleName}`].forEach((item, i) => {
                this.$set(this[`isEdit${moudleName}`][i], 'content', false);
                this.$set(this[`isEdit${moudleName}`][i], 'value', false);
            });
        },
        // 切换练习题型
        changeExerciseType(val) {
            this.exerciseType = val;
        },
        // 习题、例题,课后作业翻页之后全选按钮的状态
        setCheckedAll(type) {
            let data = this.getCurrentData(true, type);
            let currentChecked=data.every(item => {
                if (item.detail) {
                    return item.detail.added || item.detail.checked;
                } else {
                    return item.added || item.checked;
                }
            });
            this.checkedAlls[type]=currentChecked?true:false;
        },
        currentChange(currentPage,type) {
            this.currentPage = currentPage;
            this.$nextTick(() => {
                this.isChoose === 1 && this.setCheckedAll(type);
            });
        },
        currentChange1(currentPage,type) {
            this.currentPage1 = currentPage;
            this.$nextTick(() => {
                this.isChoose === 1 && this.setCheckedAll(type);
            });
        },
        currentChange2(currentPage,type) {
            this.currentPage2 = currentPage;
            this.$nextTick(() => {
                this.isChoose1 === 1 && this.setCheckedAll(type);
            });
        },
        // 上移试题、下移试题、删除试题
        swapItems (arr, index1, index2) {
            arr[index1] = arr.splice(index2, 1, arr[index1])[0];
            return arr;
        },
        upItem(arr, index) {
            if (arr.length > 1 && index !== 0) {
                arr = this.swapItems(arr, index, index - 1);
            }
        },
        downItem(arr, index) {
            if (arr.length > 1 && index !== (arr.length - 1)) {
                arr = this.swapItems(arr, index, index + 1);
            }
        },
        async delItem(type, arr, index) {
            const question_id=arr[index].id || arr[index].value;
            arr.splice(index, 1);
            if (type === 'concise' && arr.length <= (this.currentPage - 1) * 10) {
                this.currentPage = this.currentPage - 1;
            }
            if (type === 'homework' && arr.length <= (this.currentPage1 - 1) * 10) {
                this.currentPage1 = this.currentPage1 - 1;
            }
            if (type === 'schoolwork' && arr.length <= (this.currentPage2 - 1) * 10) {
                this.currentPage2 = this.currentPage2 - 1;
            }
            this.delQusetion(type,question_id);
        },
        async delQusetion(type, id) {
            const question_id=id;
            let params = {
                lesson_id: this.$route.query.lId,
                knowledge_id: this.data.id,       // *知识点ID，即考法关联的知识点ID
                type: type
            };
            let data=await this.HANDOUT_DEL_EDIT_RECOMMEND({question_id,params});
            if (data.code === 0&&data.data.removed) {
                let query = {
                    lesson_id: this.$route.query.lId,
                    course_id: this.$route.query.id
                };
                await this.HANDOUT_GET_EDIT_RECOMMEND(query);
                this.checkedAlls[type]=false;
            }
        },
        //删除本页未添加的试题
        delAll(type) {
            let question_id=this.getCurrentData(true, type).filter(item => {
                if (item.detail) {
                    return !item.detail.added;
                } else {
                    return !item.added;
                }
            }).map(item => {
                return item.value || item.id;
            }).join(',');
            this.delQusetion(type,question_id);
        },
        // 移动试题
        moveItem(type, index) {
            this.moveDialog = true;
            if (type === 'schoolwork') {
                this.question = this.template.schoolwork.contents[index].detail;
            } else {
                this.question = this.template[type][index];
            }
            this.questionType = type;
            this.questionIndex = index;
            this.categoryName = this.data.category;
            this.categoryIndex = this.selectFiles[0].options.findIndex(c => c.name === this.categoryName);
            this.typeIndex = this.selectFiles[1].options.findIndex(d => d.value === type);
            this.typeName = type;
        },
        // 快速移动试题（上移、下移的快捷操作）
        quickMoveItem({from, to}, arr) {
            let item = arr.splice(from, 1);
            arr.splice(to, 0, item[0]);
            /* let _from = Math.ceil((from + 1) / 10);
            let _to = Math.ceil((to + 1) / 10);
            if (_from !== _to) {
                this[type] = _to;
            }
            this.$nextTick(() => {
                // 找到锚点
                let dom = document.getElementById(id);
                // 如果对应id的锚点存在，就跳转到锚点
                if (dom) {
                    dom.scrollIntoView(true);
                }
            }); */
        },
        chooseCategory(item, index) {
            this.categoryIndex = index;
            this.categoryName = item.name;
        },
        chooseType(item, index) {
            this.typeIndex = index;
            this.typeName = item.value;
        },
        comfireMove() {
            const index = this.categorys.findIndex(d => d.category === this.categoryName);
            if (this.typeName === 'schoolwork') {
                this.templateEdit.template[index].schoolwork.contents.push({
                    contents: null,
                    detail: this.question,
                    value: this.question.id
                });
            } else {
                this.templateEdit.template[index][this.typeName].push(this.question);
            }
            if (this.questionType === 'schoolwork') {
                this.templateEdit.template[this.templateIndex].schoolwork.contents.splice(this.questionIndex, 1);
            } else {
                this.templateEdit.template[this.templateIndex][this.questionType].splice(this.questionIndex, 1);
            }
            this.moveDialog = false;
        },
    }
};
</script>
<style lang="scss" rel="stylesheet/scss">
.knowledge-card {
    margin-bottom: 10px;
    line-height: 1.5em;

    &-header {
        height: 40px;
        line-height: 40px;
        background: #e5e5e5;
        margin: 5px 0;
    }

    &-tip {
        color: #1daef8;
        font-size: 16px;
        font-weight: 500;
        padding: 0 3px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    &-title {
        height: 40px;
        line-height: 40px;
        border: 1px solid #e5e5e5;
        padding: 0 10px;
        .teacherEdit{
            .el-button{
                font-size: 100%;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #000;
                border-radius: 0;
                border-color: #eee;
                background:#eee;
                padding: 7px 10px;
            }
            .currentSelect{
                color: #409EFF;
                border-color:#409EFF;
            }
        }
        .useScene{
            float: right;
            color: #409EFF;
            .el-checkbox-group{
                display: inline-block;
                height: 40px;
            }
            .el-checkbox {
                margin-left: 10px;
            }
            .el-checkbox__label{
                color: #409EFF;
                font-weight: 400;
                padding-left: 5px;
            }
        }
    }

    &-content {
        overflow: auto;
        min-height: 60px;
        padding: 10px;
        border: 1px solid #e5e5e5;
        border-top: none;
        position: relative;
        .content img {
            max-width: 100%;
        }
        .checkedAll{
            position: absolute;
            right: 14px;
            bottom: 10px;
            color: #409EFF;
            .el-button{
                font-weight:400;
                padding-right: 15px;
            }
            .el-checkbox__label{
                color: #409EFF;
                float: left;
                font-weight:400;
                padding: 1px 5px 0 0 ;
            }
        }
    }

    &-express {
        padding: 10px;
        border: 1px solid #e5e5e5;
        border-top: none;
    }
    .color-blue {
        color: rgb(64, 158, 255);
    }
}

.question-card {
    margin-bottom: 10px;
}

.page {
    margin-bottom: 5px;
    text-align: center;
}

.no-question {
    i {
        color: #1daef8;
    }

    padding-left: 5px;
    line-height: 30px;
}
</style>
